#azul {
    background-color: blue;
}

#rojo {
    background-color: red;
}

#blanco {
    background-color: white;
}

img{
    width: 50px;
    height: 50px;
}

.color
{
    background: blueviolet;
}

#rojo, #azul, #blanco
{
    height: 100px;
}