body * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.caja {
    border: 3px solid;
    width: 23rem;
}

.fila {
    width: 100%;
    display: flex;
}

.caja-azul {
    background-color: blue;
    width: 30%;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.caja-blanca {
    width: 70%;
}

.caja-roja {
    background-color: red;
    width: 100%;
    height: 5rem;
}

#estrella {
    fill: white;
    width: 3rem;
    height: 3rem;
}
